# $Id: dycast.config,v 1.1 2008/01/04 18:47:18 alan Exp alan 
# config file for DYCAST python scripts

##########################################################################
[system]
##########################################################################

# Python automatically translates / to \ for Windows
windows_dycast_path:    C:/DYCAST   
unix_dycast_path:       /dycast
logfile:            /dycast/application/dycast_log.txt
dead_birds_subdir:  /dycast/inbox
risk_file_subdir:   %(EXPORT_DIRECTORY)s
#/dycast/outbox

##########################################################################
[database]
##########################################################################

# Postgresql database connection:
# You may have to modify these depending on how postgresql was installed

dbname:     %(PGDBNAME)s
user:       postgres
password:   %(PGPASSWORD)s
host:       %(PGHOST)s
port:       %(PGPORT)s

# You will only need to change these database parameters if you make 
# changes to the table structure directly in the database

dead_birds_table_unprojected:           dead_birds_unprojected
dead_birds_table_projected:             dead_birds_projected
tmp_daily_case_table:                   tmp_daily_case_selection
tmp_cluster_per_point_selection_table:  tmp_cluster_per_point_selection

##########################################################################
[dycast]
# The following five parameters (spatial_domain, temporal_domain, 
# close_in_space, close_in_time, and bird_threshold) are used by the Knox 
# test.  If you adjust any one or more of them, you must be sure that you 
# have generated monte carlo distributions for the new set of parameters.
##########################################################################


# the radius of each analysis area, in miles

spatial_domain: %(DYCAST_SPATIAL_DOMAIN)s

# the spatial closeness at which two dead birds are considered a pair, in miles

close_in_space: %(DYCAST_CLOSE_SPACE)s

# the temporal closeness at which two dead birds are considered a pair, in days

close_in_time: %(DYCAST_CLOSE_TIME)s

# the temporal duration of the analysis domain, in days

temporal_domain: %(DYCAST_TEMPORAL_DOMAIN)s

# the number of dead birds required in the space-time domain

bird_threshold: %(DYCAST_BIRD_THRESHOLD)s

system_coordinate_system: 3857

##########################################################################
[io]
##########################################################################

# What format to export daily risk.  Possible values are "dbf" and "txt"

export_format: dbf