# config file for DYCAST python scripts

##########################################################################
[system]
##########################################################################

logfile:           application/dycast_log.txt
import_directory:  inbox
export_directory:  outbox

##########################################################################
[database]
##########################################################################

# Postgresql database connection:
# You may have to modify these depending on how postgresql was installed

db_instance_name:       %(DBNAME)s
user:         %(DBUSER)s
password:     %(DBPASSWORD)s
host:         %(DBHOST)s
port:         %(DBPORT)s

dead_birds_table_projected:             cases
tmp_daily_case_table:                   tmp_daily_case_selection
tmp_cluster_per_point_selection_table:  tmp_cluster_per_point_selection


##########################################################################
[dycast]
##########################################################################

system_coordinate_system: 3857