psycopg2==2.7.3.2
# ptvsd = for debugging with Visual Studio Code
ptvsd==3.2.1
pyproj
shapely
nose==1.3.7
boto3
rfc3986>=0.3.1
configargparse==0.12.0
enum34==1.1.6
sqlalchemy==1.2.1
sqlalchemy-utils==0.32.21
geoalchemy2==0.4.2
alembic==1.0.0
